.avatar {
  height: 200px;
  display: block;
  border-radius: 50%;
  width: 200px;
  margin-bottom: 50px;
}

.card {
  max-width: 20rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.card-header {
  background-color: #fff;
}
